body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: hidden; 
  }
  
  header {
    background-color: #346075;
    color: #d3e4ec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 10px;
  }
  
  .logo {
    flex: 1;
  }
  
  .logo img {
    max-width: 100px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #c4dae5;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  .search-bar {
    background-color: #c4dae5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-top: 10px;
    width: 250px;
    margin: 0 auto; /* Centraliza a barra de busca */
  }
  
  .search-icon {
    padding: 5px;
    color: #333;
  }
  
  input[type="text"] {
    border: none;
    background: none;
    outline: none;
    width: 100%;
    font-size: 16px;
  }
  
  .filter-bar {
    display: flex;
    justify-content: center; /* Centraliza os elementos na .filter-bar */
    margin-top: 10px;
    background-color: #c4dae5;
    color: #346075;
    padding: 5px;
    width: 100%;
  }
  
  .filter-option {
    margin-right: 10px;
    padding: 8px 10px;
    background-color: #c4dae5;
    border-radius: 5px;
    cursor: pointer;
  }
  
  footer {
    background-color: #346075;
    color: #c4dae5;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-icon img {
    max-width: 30px;
    margin-right: 20px;
  }
  
  .footer-links {
    text-align: right;
  }
  
  .footer-links a {
    text-decoration: none;
    color: #c4dae5;
    margin: 0 10px;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }